{deps, [
{cowlib,".*",{git,"https://github.com/ninenines/cowlib.git","2.2.1"}},{erlsom,".*",{git,"https://github.com/willemdj/erlsom.git","ba84a5767fe6852af2b691fc0e234702d336d65f"}},{jsx,".*",{git,"https://github.com/talentdeficit/jsx.git","v2.8.2"}},{gun,".*",{git,"https://github.com/manifest/gun.git","feature/head-1xx"}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
